@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }
<style>
</style>
<div class="row">
    <div class="col-sm-4 text-left">
        <img src="~/images/empirefashion.png" alt="Fashion Firm" style="width:300px;padding:10px;">
        <address>
            123 Robert Street
            North Miami, <br>Florida 1550<br>
            P: (513) 978-2468
        </address>
    </div>

    <div class="col-sm-8 text-left">
        <h1 class="display-4">Empire Fashion Firm</h1>
        <h1>What we Specialize in</h1>
        <p>Empire Fashion Firm puts the production in fashion event production. We are a company based in Miami, FL that specializes in the creative direction, conceptualization, and full production of virtual, in-person, and hybrid fashion shows and fashion events.</p>
        <hr>
        <h3>Services Offered</h3>
        <p>Creative Direction, Ideation, Show Script Writing,Video Design,Coustom Fabrication.
        </p>
        <h3>How to apply</h3>
        <p>Forward Resume To madhurimadhu175@gmail.com.</p>
        <h3>Testimonial</h3>
        <div class="testimonial">
            <img src="~/images/avatar.png" alt="Avatar" style="width:90px">
            <p><span>Kim Karadarshin</span> CEO at Skin.</p>
            <p>She Was One Of The Model, got lot of support from them.</p>
        </div>
        <div class="testimonial">
            <img src="~/images/avatar.png" alt="Avatar" style="width:90px">
            <p><span>Miley Cirus</span>Pop Singer</p>
            <p>Perfect team with perfect ideas. Faantastic</p>
        </div>
        <div class="testimonial">
            <img src="~/images/avatar.png" alt="Avatar" style="width:90px">
            <p><span>Harry Styles</span> CEO at Wayne Enterprise</p>
            <p>Celebrity Style Icon , Most searched Celebratity</p>
        </div>
        <hr>
    </div>
</div>


