@page
@model RecruitCatLakshmmr.Pages.OurTeamModel
@{
}
<div class="row" style="margin-top:20px">
    <div class="card col-sm-4">
        <img class="card-img-top" src="~/images/madhuriimage.JPG" alt="Card image" style="width:100%;height:50%">
        <div class="card-body">
            <h4 class="card-title">Madhuri Lakshmi</h4>
            <p class="card-text">CEO of the company.  woman behind the company</p>
        </div>
    </div>
    <div class="card col-sm-4">
        <img class="card-img-top" src="~/images/andrew.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Hissen</h4>
            <p class="card-text">Next in line and fashion expert of the firm. Has won all shows till date</p>
        </div>
    </div>
    <div class="card col-sm-4">
        <img class="card-img-top" src="~/images/andey.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Lizzo</h4>
            <p class="card-text">Manger of the firm. she  been ther from the start and very talented</p>
        </div>
    </div>
</div>